*{
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
span{
    color: red;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
}
.mandatory{
    color: orange;
    text-align: right;
    font-weight: bolder;
    font-size: 15px;
}
.form_outer{
    background-color: white;
    padding:30px ;
    border-radius: 25px;
}
h1{
    font-size: 40px ;
    color: orange;
    text-align: center;
}
label{
    color: orange;
    font-weight: bolder;
}
input{
    padding: 5px;
    outline: none;
}
input:focus{
    padding: 5px;
    border: 1px solid orange;
}
.row{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.bu{
    display: flex;
    justify-content: center;
}
.bu button{
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid orange;
    background-color: orange;
}
.error{
    font-size: 15px;
    color: black;
    font-weight: bolder;
}